.apiOutputGrid {
  margin: 1rem 0 0;
  width: 100%;
}
.apiOutputGridHeaders {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.9rem;
  border-bottom: 0.4px solid var(--grey-light);
  padding: 0 0 0.45rem;
}
.apiOutputGridData {
  margin: 1rem 0;
  height: 280px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
