.headersFor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.9rem;
}
.headersForShop {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.9rem;
}
.headersForShop p {
  font-size: 0.9rem;
}
.headersForAllProducts {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr repeat(4, 1fr);
}
