.outputData {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.9rem;
}
.outputData p {
  margin: 0 0 0.25rem;
  font-size: 0.675rem;
  font-weight: 300;
}
.description {
  text-align: end;
}
.icon {
  font-size: 0.75rem;
}
.outputShopData {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.9rem;
}
.outputShopData p {
  margin: 0 0 0.25rem;
  font-size: 0.675rem;
  font-weight: 300;
}
