.showLiquid {
  margin: 1rem 0;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 11, 220, 0.3);
  background-image:
    linear-gradient(145deg, rgba(255, 30, 30, 0.04) 25%, transparent 25%, transparent 75%, rgba(255, 30, 30, 0.04) 75%, rgba(255, 30, 30, 0.02)),
    linear-gradient(45deg, rgba(255, 30, 30, 0.08) 25%, transparent 25%, transparent 75%, rgba(255, 30, 30, 0.08) 75%, rgba(255, 30, 30, 0.02));
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  box-shadow: 0 0 10px rgba(123, 100, 255, 0.5);
  border: 1px solid rgba(43, 0, 255, 0.6);
  backdrop-filter: blur(2px);
  color: var(--white);
  padding: 1rem;
  border-radius: 4px;
}
