.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.main h1 {
  border-bottom: 1px solid var(--accent);
  line-height: 1.6;;
}

.description {
  padding: 2rem;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-general);
}

.title {
  cursor: pointer;
  padding: 0 0 2rem;
  color: var(--grey-light);
}
.title:hover {
  color: var(--white);
}
.activeSection {
  color: var(--white);
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.infoBox p {
  padding: 0.5rem 0 0;
  color: var(--grey-light);
  font-size: 0.75rem;
}

.infoBox .cards li {
  list-style-type: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
