.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.main h1 {
  line-height: 1.6;
  border-bottom: 1px solid var(--accent);
}

.main h1:last-child {
  text-align: end;
}
/* h1 splits into active and not active */
.headers {
  display: flex;
  justify-content: space-between;
}
.headerTitle {
  cursor: pointer;
  font-weight: normal;
  color: var(--grey-light);
  width: 100%;
}
.headerTitle:not(.activeTitle):hover {
  color: var(--white);
}
.activeTitle {
  color: var(--white);
}
.contents {
  display: none;
}
.showContent {
  display: block;
}
/* cards on upper page */
.showCardsWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.showCardsBtn {
  font-family: var(--font-general);
  font-weight: 200;
  font-size: 0.8rem;
  margin: 1rem;
  background-color: #333;
  padding: 0.35rem 1.35rem;
  border-top: none;
  border-left: none;
}
.showCardsBtn:hover {
  cursor: pointer;
  background-color: #393939;
}
.showCardsBtn:active {
  border-right: none;
  border-bottom: none;
}
.infoBox p {
  padding: 0.5rem 0 0;
  color: var(--grey-light);
  font-size: 0.75rem;
}
.infoBox .cards li {
  list-style-type: none;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* lower page section */
.description {
  padding: 2rem;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-general);
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.title {
  cursor: pointer;
  padding: 0 0 2rem;
  color: var(--grey-light);
}
.title:hover {
  color: var(--white);
}
.activeSection {
  color: var(--white);
}
